/* App.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  
  .App-header {
    background-color: #4caf50;
    padding: 20px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .App-main {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .draggable-items-container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .DraggableItem {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    cursor: grab;
    transition: opacity 0.2s;
  }
  
  .DraggableItem:hover {
    opacity: 0.8;
  }
  
  .DroppableGap {
    display: inline-block;
    background-color: #e0e0e0;
    color: #212121;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 5px 0 0;
    width: 150px;
    height: 20px;
    text-align: center;
    transition: background-color 0.2s;
  }
  
  .DroppableGap.isOver {
    background-color: #bdbdbd;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #3f9142;
  }
  
  .result {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  .result.correct {
    color: #4caf50;
  }
  
  .result.incorrect,
  .result.unanswered {
    color: #f44336;
  }
  